[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/plog"]
	path = third_party/plog
	url = https://github.com/SergiusTheBest/plog
